@charset "UTF-8";
@font-face {
  font-family: "Univers HfH";
  src: url("../fonts/univers_normal.woff2") format("woff2");
  font-weight: normal; }

@font-face {
  font-family: "Univers HfH";
  src: url("../fonts/univers_normal_italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Univers HfH";
  src: url("../fonts/univers_bold.woff2") format("woff2");
  font-weight: bold; }

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; }

html {
  font-family: "Univers HfH", Helvetica, sans-serif; }

body {
  margin: 0;
  font-size: 20px;
  line-height: 1.6;
  font-family: "Univers HfH", Helvetica, sans-serif;
  font-weight: normal;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media screen and (max-width: 740px) {
    body {
      font-size: 18px;
      line-height: 1.4444444444; } }

/*
* Layout
*/
.site {
  position: relative; }

.site-flex {
  display: block; }
  @media screen and (min-width: 1023px) {
    .site-flex {
      display: flex; } }

.site-flex,
.site-header,
.footer-content {
  width: auto;
  margin-left: 16px;
  margin-right: 16px; }
  @media screen and (min-width: 1216px) {
    .site-flex,
    .site-header,
    .footer-content {
      max-width: 1200px;
      width: 100%;
      margin-left: auto;
      margin-right: auto; } }

.site-main {
  flex: 4; }

.widget-area {
  margin-top: 16px; }
  @media screen and (min-width: 1023px) {
    .widget-area {
      margin-top: 0;
      flex: 1;
      padding-left: 32px; } }

.entry-header,
.entry-content,
.entry-contact {
  width: 100%;
  max-width: 740px;
  margin-left: auto;
  margin-right: auto; }

/*
* Paragraphs
*/
p {
  margin: 0 0 32px 0; }

/*
* Links
*/
a {
  color: #be1925;
  text-decoration: none;
  transition: color 0.25s ease 0s; }
  a:focus, a:hover {
    color: #e74011; }

.entry-content {
  overflow: auto; }
  .entry-content p a {
    font-weight: bold; }

/*
* Headings
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 26px 0;
  font-weight: normal;
  font-family: "Univers LT 45 Light", Helvetica, sans-serif; }
  @media screen and (min-width: 740px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0 0 32px 0; } }

h1 {
  font-size: 24px;
  line-height: 1.3333333333; }
  @media screen and (min-width: 740px) {
    h1 {
      font-size: 48px;
      line-height: 1.1666666667; } }

h2 {
  font-size: 24px;
  line-height: 1.3333333333; }
  @media screen and (min-width: 740px) {
    h2 {
      font-size: 32px;
      line-height: 1.25; } }

h3 {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 24px;
  border-bottom: 2px solid currentColor;
  padding-bottom: 1px;
  font-weight: bold;
  text-transform: uppercase;
  color: #be1925;
  font-size: 12px;
  line-height: 1.6666666667; }
  @media screen and (min-width: 740px) {
    h3 {
      font-size: 16px;
      line-height: 1.5; } }

h4 {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 1.5714285714; }
  @media screen and (min-width: 740px) {
    h4 {
      font-size: 16px;
      line-height: 1.5; } }

h5 {
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 1.6666666667; }
  @media screen and (min-width: 740px) {
    h5 {
      font-size: 14px;
      line-height: 1.7142857143; } }

h6 {
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 1.6666666667;
  font-weight: bold; }
  @media screen and (min-width: 740px) {
    h6 {
      line-height: 2; } }

/*
* Lists
*/
.site-main ol,
.widget-area ol {
  counter-reset: ol-counter;
  margin: 0 0 32px 0;
  padding: 0;
  list-style: none; }
  .site-main ol li,
  .widget-area ol li {
    counter-increment: ol-counter;
    position: relative;
    margin-bottom: 16px;
    padding-left: 20px; }
    .site-main ol li::before,
    .widget-area ol li::before {
      content: counter(ol-counter, decimal) ".";
      display: block;
      font-size: 12px;
      line-height: 2.6666666667;
      font-weight: bold;
      text-transform: uppercase;
      color: #be1925;
      position: absolute;
      left: 0;
      top: 0; }

.site-main ul,
.widget-area ul {
  margin: 0 0 32px 0;
  padding: 0;
  list-style: none; }
  .site-main ul li,
  .widget-area ul li {
    position: relative;
    margin-bottom: 16px;
    padding-left: 20px; }
    .site-main ul li::before,
    .widget-area ul li::before {
      content: "​";
      display: block;
      width: 4px;
      height: 4px;
      position: absolute;
      left: 0px;
      top: 14px;
      overflow: hidden;
      border-radius: 50%;
      background: #be1925; }

/*
* Quotes
*/
blockquote,
blockquote p {
  margin: 26px 0;
  font-size: 24px;
  line-height: 1.3333333333;
  font-weight: normal; }
  @media screen and (min-width: 740px) {
    blockquote,
    blockquote p {
      margin: 32px 0;
      font-size: 32px;
      line-height: 1.25; } }

blockquote {
  border-left: 2px solid #f2d1d3;
  padding-left: 1em; }

/*
* Logo
*/
.custom-logo {
  width: 70px;
  height: auto; }

/*
* Header
*/
.site-header {
  padding-top: 35px;
  margin-bottom: 37px; }
  .site-header .main-navigation {
    padding-top: 2px; }
    @media screen and (min-width: 37.5em) {
      .site-header .main-navigation {
        display: flex; } }
    .site-header .main-navigation .search-form {
      display: none; }
    .site-header .main-navigation.toggled {
      border-bottom: 2px solid #f2d1d3;
      padding-bottom: 16px; }
      .site-header .main-navigation.toggled .search-form {
        display: flex; }
      @media screen and (min-width: 37.5em) {
        .site-header .main-navigation.toggled {
          border-bottom: none; }
          .site-header .main-navigation.toggled .search-form {
            display: none; } }
    .site-header .main-navigation .menu-toggle {
      position: absolute;
      right: 16px;
      top: 35px;
      width: 40px;
      height: 22px;
      appearance: none;
      border: none;
      background: none;
      padding: 0;
      margin-bottom: 22px; }
      .site-header .main-navigation .menu-toggle span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #e74011;
        top: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        transition: 0.25s ease-in-out; }
        .site-header .main-navigation .menu-toggle span:nth-child(2), .site-header .main-navigation .menu-toggle span:nth-child(4) {
          top: 9px; }
        .site-header .main-navigation .menu-toggle span:nth-child(3) {
          top: 18px; }
      .site-header .main-navigation .menu-toggle .button-text {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin-top: 2px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        letter-spacing: -0.5px;
        text-transform: uppercase;
        text-align: center;
        transition: 0.25s ease-in-out; }
    .site-header .main-navigation.toggled .menu-toggle span:first-child, .site-header .main-navigation.toggled .menu-toggle span:nth-child(3) {
      width: 0; }
    .site-header .main-navigation.toggled .menu-toggle span:nth-child(2) {
      transform: rotate(45deg); }
    .site-header .main-navigation.toggled .menu-toggle span:nth-child(4) {
      transform: rotate(-45deg); }
    .site-header .main-navigation.toggled .button-text {
      opacity: 0; }
    .site-header .main-navigation a {
      position: relative;
      display: block;
      padding: 10px 0;
      font-size: 16px;
      line-height: 1.5;
      color: #000;
      text-decoration: none; }
      .site-header .main-navigation a:focus, .site-header .main-navigation a:hover, .site-header .main-navigation a[aria-current="page"] {
        color: #be1925; }
    @media screen and (min-width: 37.5em) {
      .site-header .main-navigation li + li {
        margin-left: 30px; } }
    .site-header .main-navigation .site-search-toggle {
      display: none;
      position: relative;
      width: 22px;
      height: 22px;
      overflow: hidden;
      text-indent: -99999em;
      margin-top: 10px;
      margin-bottom: 10px;
      border: 0;
      padding: 0;
      background: url("../images/icon-search_d.svg") no-repeat 0 0;
      background-size: 100% 100%;
      cursor: pointer;
      -webkit-appearance: none; }
      @media screen and (min-width: 37.5em) {
        .site-header .main-navigation .site-search-toggle {
          display: block;
          margin-top: 12px;
          margin-bottom: 12px;
          margin-left: 28px; } }
  .site-header #site-search {
    display: none; }
    @media screen and (min-width: 37.5em) {
      .site-header #site-search.site-search--active {
        display: block;
        animation: fadeInFromNone 0.5s ease-in-out; }
      @keyframes fadeInFromNone {
        0% {
          display: none;
          opacity: 0; }
        1% {
          display: block;
          opacity: 0; }
        100% {
          display: block;
          opacity: 1; } } }

@media screen and (min-width: 37.5em) {
  .site-header-wrapper {
    display: flex;
    justify-content: space-between; } }

/*
* Footer
*/
.site-footer {
  margin-top: 137px; }
  .site-footer .footer-wrapper {
    background-color: #000;
    color: #fff;
    padding: 30px 0; }
    .site-footer .footer-wrapper .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      line-height: 1.4285714286; }
      @media screen and (min-width: 740px) {
        .site-footer .footer-wrapper .footer-content {
          flex-direction: row-reverse; } }
      .site-footer .footer-wrapper .footer-content p {
        margin: 0; }
      .site-footer .footer-wrapper .footer-content nav ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        @media screen and (min-width: 740px) {
          .site-footer .footer-wrapper .footer-content nav ul {
            display: flex; }
            .site-footer .footer-wrapper .footer-content nav ul li + li {
              margin-left: 28px; } }
        .site-footer .footer-wrapper .footer-content nav ul li a {
          color: #fff;
          font-weight: bold; }
          .site-footer .footer-wrapper .footer-content nav ul li a:hover {
            color: #e74011; }

/*
* Post
*/
.single-post .post-thumbnail + .entry-contact,
.page-template-default .post-thumbnail + .entry-contact {
  margin-top: -117px;
  margin-bottom: 65px; }
  .single-post .post-thumbnail + .entry-contact:before,
  .page-template-default .post-thumbnail + .entry-contact:before {
    content: "";
    display: block;
    background-color: #fff;
    position: absolute;
    top: -27px;
    left: -32px;
    right: -32px;
    bottom: 0; }

.single-post .entry-header .cat-links,
.page-template-default .entry-header .cat-links {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 24px;
  padding-bottom: 1px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
  color: #be1925; }

.single-post .entry-date,
.page-template-default .entry-date {
  float: right;
  font-size: 16px;
  line-height: 1.625; }

.single-post .post-thumbnail,
.page-template-default .post-thumbnail {
  position: relative;
  margin-bottom: 90px; }
  .single-post .post-thumbnail:before,
  .page-template-default .post-thumbnail:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    pointer-events: none;
    z-index: 2;
    width: 32px;
    height: 92px;
    background: url("../images/trame_left_bottom_mobile.png") no-repeat 0 0;
    background-size: 100% 100%;
    margin-right: -16px; }
    @media screen and (min-width: 1025px) {
      .single-post .post-thumbnail:before,
      .page-template-default .post-thumbnail:before {
        width: 1640px;
        height: 188px;
        background: url("../images/trame_left_bottom.png") no-repeat 0 0;
        background-size: 100% 100%;
        margin-right: -202px; } }

/*
* Contact
*/
.entry-contact {
  position: relative; }
  .entry-contact .entry-contact__title {
    position: relative;
    padding-bottom: 1px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    text-transform: uppercase;
    color: #be1925; }
  .entry-contact .entry-contact__content {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
    border-top: 2px solid #f2d1d3; }
    .entry-contact .entry-contact__content .entry-contact__image {
      height: 78px;
      width: 78px; }
      .entry-contact .entry-contact__content .entry-contact__image a {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 50%;
        border: 2px solid #be1925;
        padding: 2px;
        background: #fff; }
      .entry-contact .entry-contact__content .entry-contact__image img {
        border-radius: 50%;
        height: auto;
        max-width: 100%; }
    .entry-contact .entry-contact__content .entry-contact__author {
      margin-top: 2px;
      margin-left: 20px;
      font-style: normal; }
      .entry-contact .entry-contact__content .entry-contact__author .entry-contact__name {
        font-weight: bold; }

/*
* Teasers
*/
.site-teasers {
  display: flex;
  flex-flow: row wrap;
  margin-top: -16px; }
  .site-teasers .teaser-row {
    width: 100%; }
    .site-teasers .teaser-row .teaser {
      height: 100%;
      padding: 15px 0 16px 0; }
      @media screen and (min-width: 740px) {
        .site-teasers .teaser-row .teaser {
          width: 100%;
          padding-left: 8px;
          padding-right: 8px;
          margin-left: -8px;
          margin-right: -8px; } }
    @media screen and (min-width: 860px) {
      .site-teasers .teaser-row {
        width: 50%; } }
    @media screen and (min-width: 1023px) {
      .site-teasers .teaser-row {
        width: 50%; } }

.post-teaser {
  height: 100%;
  border: 2px solid #f2d1d3; }
  .post-teaser .post-teaser__link {
    height: 100%;
    display: flex;
    flex-direction: column; }
    .post-teaser .post-teaser__link:hover .post-teaser__text, .post-teaser .post-teaser__link:focus .post-teaser__text {
      background-color: #be1925;
      color: #fff; }
    .post-teaser .post-teaser__link:hover .post-teaser__arrow, .post-teaser .post-teaser__link:focus .post-teaser__arrow {
      color: #fff; }
  .post-teaser .post-teaser__image {
    position: relative;
    padding-bottom: 50%;
    overflow: hidden;
    background-color: #fbf3f4; }
    .post-teaser .post-teaser__image img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto; }
  .post-teaser .post-teaser__text {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    padding: 20px 22px 32px 22px;
    color: #000;
    background-color: #fff; }
    .post-teaser .post-teaser__text .post-teaser__title {
      font-size: 32px;
      line-height: 1.25; }
    .post-teaser .post-teaser__text .post-teaser__excerpt {
      font-size: 20px;
      line-height: 1.4; }
      .post-teaser .post-teaser__text .post-teaser__excerpt p:last-child {
        margin-bottom: 0; }
    .post-teaser .post-teaser__text .post-teaser__arrow {
      margin-top: 20px;
      flex: 1 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      color: #be1925; }
    @media screen and (max-width: 740px) {
      .post-teaser .post-teaser__text .post-teaser__title {
        font-size: 24px;
        line-height: 1.3333333333; }
      .post-teaser .post-teaser__text .post-teaser__excerpt {
        font-size: 18px;
        line-height: 1.4444444444; } }

/*
* Search
*/
.search-form,
.wp-block-search {
  margin-bottom: 72px;
  padding: 24px 24px 24px 40px;
  background: #fbf3f4;
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.search-submit,
.wp-block-search .wp-block-search__button {
  margin: 0;
  border: none;
  padding-right: 55px;
  padding-left: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #000;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width='22px'%20height='22px'%20viewBox='0%200%2022%2022'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%20stroke='none'%20stroke-width='1'%20fill='none'%20fill-rule='evenodd'%20transform='translate(1,%201)'%3E%3Ccircle%20stroke='%23E74011'%20stroke-width='2'%20cx='7.5'%20cy='7.5'%20r='7.5'%3E%3C/circle%3E%3Cpolygon%20fill='%23E74011'%20transform='translate(16,%2016)%20rotate(-45.120000)%20translate(-16,%20-16)%20'%20points='15.0298237%2011.0163243%2017%2011%2016.9701763%2020.9836757%2015%2021'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - 16px) 50%;
  background-size: 22px 22px;
  transition: background-color 0.25s ease 0s, color 0.25s ease 0s, padding-left 0.25s ease 0s, padding-right 0.25s ease 0s;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-weight: bold;
  text-align: left;
  appearance: none;
  cursor: pointer;
  text-decoration: none; }
  .search-submit:focus, .search-submit:hover,
  .wp-block-search .wp-block-search__button:focus,
  .wp-block-search .wp-block-search__button:hover {
    outline: none;
    background-color: #e74011;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width='22px'%20height='22px'%20viewBox='0%200%2022%2022'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%20stroke='none'%20stroke-width='1'%20fill='none'%20fill-rule='evenodd'%20transform='translate(1,%201)'%3E%3Ccircle%20stroke='%23FFFFFF'%20stroke-width='2'%20cx='7.5'%20cy='7.5'%20r='7.5'%3E%3C/circle%3E%3Cpolygon%20fill='%23FFFFFF'%20transform='translate(16,%2016)%20rotate(-45.120000)%20translate(-16,%20-16)%20'%20points='15.0298237%2011.0163243%2017%2011%2016.9701763%2020.9836757%2015%2021'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E"); }

.search-field,
.wp-block-search .wp-block-search__input {
  width: 100%;
  padding: 14px 20px;
  border: 2px solid #d8757c;
  border-radius: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  background: #fff;
  outline: 0;
  appearance: none; }
  .search-field:focus,
  .wp-block-search .wp-block-search__input:focus {
    border-color: #be1925; }
  .search-field::placeholder,
  .wp-block-search .wp-block-search__input::placeholder {
    color: #be1925; }

.search-form label,
.wp-block-search .wp-block-search__label {
  color: #be1925;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 2px;
  line-height: 1.7142857143;
  margin-right: 40px;
  width: auto;
  white-space: nowrap; }

.wp-block-search .wp-block-search__inside-wrapper {
  flex: 1;
  display: flex;
  width: 100%; }

@media screen and (max-width: 37.5em) {
  .search-form,
  .wp-block-search {
    padding: 0;
    margin: 12px 0; }
  .search-form label,
  .wp-block-search .wp-block-search__label {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important; }
  .search-submit,
  .wp-block-search .wp-block-search__button {
    width: 56px;
    padding: 0;
    height: 56px;
    text-indent: 9999px; } }

/*
* Widgets
*/
.widget {
  border-top: 2px solid #767676;
  margin-bottom: 0;
  padding: 28px 8px;
  font-size: 0.875rem;
  line-height: 1.6; }
  .widget h2 {
    font-size: 1rem;
    margin-bottom: 1rem; }
  .widget *:last-child {
    margin-bottom: 0; }
