/*
* Footer
*/

.site-footer {
    margin-top: 137px;
    p {
        font-size: 20px;
    }
    .pre-footer {
        background-color: $off-black;
        color: $white;
        padding: 30px 0;
        .pre-footer__content {
            display: grid;
            @media screen and (min-width: 740px) {
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 5%;
            }
        }
        .pre-footer__address a {
            color: $white;
        }
    }
    .footer {
        background-color: $black;
        color: $white;
        padding: 30px 0;
        .footer__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            line-height: 1.4285714286;
            @media screen and (min-width: 740px) {
                flex-direction: row-reverse;
            }
            p {
                margin: 0;
            }
            nav ul {
                list-style: none;
                margin: 0;
                padding: 0;
                @media screen and (min-width: 740px) {
                    display: flex;
                    li+li {
                        margin-left: 28px;
                    }
                }
                li a {
                    color: $white;
                    font-weight: bold;
                }
            }
        }
    }
}

.pre-footer__social {
    nav {
        &::after {
            content: " ";
            display: block;
            height: 0;
            overflow: hidden;
            visibility: hidden;
            clear: both;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            max-width: 320px;
            float: left;
            @media screen and (min-width: 60rem) {
                float: right;
            }
            li {
                padding: 0 0 2px 2px;
                float: left;
                a {
                    position: relative;
                    display: block;
                    width: 78px;
                    height: 78px;
                    overflow: hidden;
                    text-indent: -99999em;
                    background: #000;
                    text-decoration: none;
                    transition: background .25s ease 0s;
                    &:hover {
                        background: $thunderbird-red;
                    }
                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                        background-position: 0 0;
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                    }
                    &.facebook::before {
                        width: 16px;
                        height: 28px;
                        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width='16px'%20height='28px'%20viewBox='0%200%2016%2028'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%20transform='translate(0.500000,%200.335572)'%3E%3Cpath%20d='M15, 4.72365683%20L10.7147679, 4.72365683%20C10.2085052, 4.72365683%209.64261607, 5.39393604%209.64261607, 6.29179315%20L9.64261607, 9.40542122%20L15, 9.40542122%20L15, 13.8437565%20L9.64261607, 13.8437565%20L9.64261607, 27.1734813%20L4.58561464, 27.1734813%20L4.58561464, 13.8437565%20L0, 13.8437565%20L0, 9.40542122%20L4.58561464, 9.40542122%20L4.58561464, 6.79337033%20C4.58561464, 3.04682659%207.16867922, 0%2010.7147679, 0%20L15, 0%20L15, 4.72365683%20Z'%20fill='%23FFFFFF'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
                    }
                    &.youtube::before {
                        width: 28px;
                        height: 21px;
                        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width='28px'%20height='21px'%20viewBox='0%200%2028%2021'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%20transform='translate(0.500000,%200.858061)'%3E%3Cpath%20d='M10.5011565,13.5867407%20L10.5,6.0385514%20L18,9.82551926%20L10.5011565,13.5867407%20Z%20M26.73,4.23315689%20C26.73,4.23315689%2026.46675,2.31131994%2025.65675,1.46375845%20C24.629625,0.352278643%2023.47875,0.3476281%2022.951125,0.282520496%20C19.173375,0%2013.505625,0%2013.505625,0%20L13.494375,0%20C13.494375,0%207.826625,0%204.04775,0.282520496%20C3.520125,0.3476281%202.36925,0.352278643%201.342125,1.46375845%20C0.53325,2.31131994%200.27,4.23315689%200.27,4.23315689%20C0.27,4.23315689%200,6.49215823%200,8.74999692%20L0,10.8671567%20C0,13.1249954%200.27,15.3828341%200.27,15.3828341%20C0.27,15.3828341%200.53325,17.3058337%201.342125,18.1522325%20C2.36925,19.2637123%203.71925,19.2288333%204.32,19.3450968%20C6.48,19.5590218%2013.5,19.6252921%2013.5,19.6252921%20C13.5,19.6252921%2019.173375,19.615991%2022.951125,19.3346331%20C23.47875,19.2695255%2024.629625,19.2637123%2025.65675,18.1522325%20C26.46675,17.3058337%2026.73,15.3828341%2026.73,15.3828341%20C26.73,15.3828341%2027,13.1249954%2027,10.8671567%20L27,8.74999692%20C27,6.49215823%2026.73,4.23315689%2026.73,4.23315689%20L26.73,4.23315689%20Z'%20fill='%23FFFFFF'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
                    }
                    &.linkedin::before {
                        width: 27px;
                        height: 28px;
                        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width='27px'%20height='28px'%20viewBox='0%200%2027%2028'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%20transform='translate(-26.000000,%20-25.814252)'%3E%3Cpath%20d='M49.0117706,41.2998546%20C49.0117706,37.3357343%2046.5640091,35.9836649%2044.2990563,35.9836649%20C42.2047249,35.9836649%2040.8337535,37.3476227%2040.4409491,38.1465985%20L40.3893877,38.1465985%20L40.3893877,36.3484311%20L36.4855316,36.3484311%20L36.4855316,49.3264103%20L40.5446345,49.3264103%20L40.5446345,42.290177%20C40.5446345,40.4140746%2041.7256724,39.5016872%2042.9299598,39.5016872%20C44.0693736,39.5016872%2044.9528551,40.14668%2044.9528551,42.2380945%20L44.9528551,49.3264103%20L49.0117706,49.3264103%20L49.0117706,41.2998546%20Z%20M34.3580134,32.1952287%20C34.3580134,30.8405175%2033.3102852,29.8492515%2032.0176871,29.8492515%20C30.7252766,29.8492515%2029.6775484,30.8405175%2029.6775484,32.1952287%20C29.6775484,33.5501287%2030.7252766,34.5402624%2032.0176871,34.5402624%20C33.3102852,34.5402624%2034.3580134,33.5501287%2034.3580134,32.1952287%20L34.3580134,32.1952287%20Z%20M29.9882294,49.316409%20L34.0471449,49.316409%20L34.0471449,36.3384298%20L29.9882294,36.3384298%20L29.9882294,49.316409%20Z%20M53,28.1729874%20L53,51.3344174%20C53,52.4423029%2052.1077061,53.3405374%2051.007104,53.3405374%20L27.992896,53.3405374%20C26.8921064,53.3405374%2026,52.4423029%2026,51.3344174%20L26,28.1729874%20C26,27.0649132%2026.8921064,26.1670561%2027.992896,26.1670561%20L51.007104,26.1670561%20C52.1077061,26.1670561%2053,27.0649132%2053,28.1729874%20L53,28.1729874%20Z'%20fill='%23FFFFFF'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
                        background-size: 100% 100%;
                    }
                    &.instagram::before {
                        width: 27px;
                        height: 31px;
                        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width='27px'%20height='31px'%20viewBox='0%200%2027%2031'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%20transform='translate(0.000000,%200.038785)'%3E%3Cpath%20d='M13.5,0%20C9.833625,0%209.3735,0.0158511974%207.9335,0.0815204439%20C6.496875,0.14718969%205.515875,0.377032053%204.6575,0.713303884%20C3.76875,1.060898%203.016125,1.52511164%202.26575,2.28030797%20C1.515375,3.03550431%201.054125,3.7929651%200.70875,4.68742553%20C0.374625,5.55131579%200.14625,6.53861894%200.081,7.98447459%20C0.01575,9.43372693%200,9.89680834%200,13.5867407%20C0,17.276673%200.01575,17.7397544%200.081,19.1890067%20C0.14625,20.6348624%200.374625,21.6221655%200.70875,22.4860558%20C1.054125,23.3805162%201.515375,24.137977%202.26575,24.8931733%20C3.016125,25.6483697%203.76875,26.1125833%204.6575,26.4601774%20C5.515875,26.7964493%206.496875,27.0262916%207.9335,27.0919609%20C9.3735,27.1576301%209.833625,27.1734813%2013.5,27.1734813%20C17.166375,27.1734813%2017.6265,27.1576301%2019.0665,27.0919609%20C20.503125,27.0262916%2021.484125,26.7964493%2022.3425,26.4601774%20C23.23125,26.1125833%2023.983875,25.6483697%2024.73425,24.8931733%20C25.484625,24.137977%2025.945875,23.3805162%2026.29125,22.4860558%20C26.625375,21.6221655%2026.85375,20.6348624%2026.919,19.1890067%20C26.98425,17.7397544%2027,17.276673%2027,13.5867407%20C27,9.89680834%2026.98425,9.43372693%2026.919,7.98447459%20C26.85375,6.53861894%2026.625375,5.55131579%2026.29125,4.68742553%20C25.945875,3.7929651%2025.484625,3.03550431%2024.73425,2.28030797%20C23.983875,1.52511164%2023.23125,1.060898%2022.3425,0.713303884%20C21.484125,0.377032053%2020.503125,0.14718969%2019.0665,0.0815204439%20C17.6265,0.0158511974%2017.166375,0%2013.5,0%20M13.5,2.44787777%20C17.1045,2.44787777%2017.532,2.46146452%2018.955125,2.52713376%20C20.271375,2.58827409%2020.98575,2.80905863%2021.461625,2.99474409%20C22.091625,3.24156987%2022.541625,3.53594926%2023.014125,4.01148518%20C23.486625,4.4870211%2023.779125,4.93991246%2024.024375,5.57396035%20C24.208875,6.05289296%2024.429375,6.77185799%2024.489,8.0965652%20C24.55425,9.52883411%2024.56775,9.9590809%2024.56775,13.5867407%20C24.56775,17.2144004%2024.55425,17.6446472%2024.489,19.0769161%20C24.429375,20.4016233%2024.208875,21.1205883%2024.024375,21.599521%20C23.779125,22.2335689%2023.486625,22.6864602%2023.014125,23.1619961%20C22.541625,23.6375321%2022.091625,23.9319114%2021.461625,24.1787372%20C20.98575,24.3644227%2020.271375,24.5863394%2018.955125,24.6463475%20C17.532,24.7120168%2017.1045,24.7256035%2013.5,24.7256035%20C9.8955,24.7256035%209.468,24.7120168%208.044875,24.6463475%20C6.728625,24.5863394%206.01425,24.3644227%205.538375,24.1787372%20C4.908375,23.9319114%204.458375,23.6375321%203.985875,23.1619961%20C3.513375,22.6864602%203.220875,22.2335689%202.975625,21.599521%20C2.791125,21.1205883%202.57175,20.4016233%202.511,19.0769161%20C2.44575,17.6446472%202.43225,17.2144004%202.43225,13.5867407%20C2.43225,9.9590809%202.44575,9.52883411%202.511,8.0965652%20C2.57175,6.77185799%202.791125,6.05289296%202.975625,5.57396035%20C3.220875,4.93991246%203.513375,4.4870211%203.985875,4.01148518%20C4.458375,3.53594926%204.908375,3.24156987%205.538375,2.99474409%20C6.01425,2.80905863%206.728625,2.58827409%208.044875,2.52713376%20C9.468,2.46146452%209.8955,2.44787777%2013.5,2.44787777'%20fill='%23FFFFFF'%3E%3C/path%3E%3Cpath%20d='M13.5,18.1156542%20C11.014875,18.1156542%209,16.0878332%209,13.5867407%20C9,11.0856481%2011.014875,9.0578271%2013.5,9.0578271%20C15.985125,9.0578271%2018,11.0856481%2018,13.5867407%20C18,16.0878332%2015.985125,18.1156542%2013.5,18.1156542%20M13.5,6.60994933%20C9.671625,6.60994933%206.56775,9.73376745%206.56775,13.5867407%20C6.56775,17.4397139%209.671625,20.563532%2013.5,20.563532%20C17.328375,20.563532%2020.43225,17.4397139%2020.43225,13.5867407%20C20.43225,9.73376745%2017.328375,6.60994933%2013.5,6.60994933'%20fill='%23FFFFFF'%3E%3C/path%3E%3Cpath%20d='M22.3263,6.33413849%20C22.3263,7.23426006%2021.600675,7.96454737%2020.7063,7.96454737%20C19.811925,7.96454737%2019.0863,7.23426006%2019.0863,6.33413849%20C19.0863,5.43401692%2019.811925,4.70372961%2020.7063,4.70372961%20C21.600675,4.70372961%2022.3263,5.43401692%2022.3263,6.33413849'%20fill='%23FFFFFF'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
                        background-size: 100% 100%;
                    }
                    &.twitter::before {
                        width: 27px;
                        height: 24px;
                        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width='27px'%20height='24px'%20viewBox='0%200%2027%2024'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%20transform='translate(-26.000000,%20-27.328271)'%3E%3Cpath%20d='M49.8185,31.760314%20C50.962625,31.053288%2051.840125,29.9329595%2052.254125,28.5978529%20C51.183125,29.2526356%2049.9985,29.7286301%2048.73625,29.9852028%20C47.726,28.8741619%2046.286,28.1799065%2044.693,28.1799065%20C41.634125,28.1799065%2039.1535,30.7398282%2039.1535,33.8964844%20C39.1535,34.3446158%2039.203,34.7811376%2039.2975,35.199084%20C34.694,34.9610868%2030.61025,32.6856008%2027.879875,29.2259335%20C27.402875,30.071114%2027.1295,31.053288%2027.1295,32.1004759%20C27.1295,34.0833993%2028.107125,35.8329694%2029.59325,36.858099%20C28.6865,36.8290749%2027.8315,36.5725023%2027.0845,36.1441073%20C27.083375,36.1673265%2027.083375,36.1905457%2027.083375,36.2149259%20C27.083375,38.9849818%2028.993625,41.2952965%2031.527125,41.8200515%20C31.0625,41.9512402%2030.573125,42.0208979%2030.068,42.0208979%20C29.711375,42.0208979%2029.364875,41.9860691%2029.02625,41.9187332%20C29.7305,44.1895753%2031.776875,45.8427855%2034.20125,45.888063%20C32.3045,47.4216941%2029.916125,48.3353713%2027.32075,48.3353713%20C26.874125,48.3353713%2026.433125,48.3086692%2026,48.2552649%20C28.451375,49.8771291%2031.36175,50.8244743%2034.4915,50.8244743%20C44.6795,50.8244743%2050.251625,42.1137749%2050.251625,34.5593938%20C50.251625,34.3121089%2050.247125,34.0648239%2050.235875,33.8198609%20C51.318125,33.0141532%2052.2575,32.0075989%2053,30.8605683%20C52.006625,31.3156655%2050.939,31.6221595%2049.8185,31.760314%20Z'%20fill='%23FFFFFF'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
                        background-size: 100% 100%;
                    }
                    &.issuu::before {
                        width: 24px;
                        height: 25px;
                        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width='24px'%20height='25px'%20viewBox='0%200%2024%2025'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%20transform='translate(-27.000000,%20-26.814252)'%20stroke='none'%20stroke-width='1'%20fill='none'%20fill-rule='evenodd'%3E%3Cpath%20d='M39.057, 33.2120327%20C42.372, 33.2422255%2045.0315, 35.97467%2045, 39.3079504%20C44.97, 42.64425%2042.2565, 45.3208379%2038.9445, 45.2891355%20C35.6295, 45.2589428%2032.97, 42.5264982%2033, 39.1932179%20C33.03, 35.8569182%2035.745, 33.18184%2039.057, 33.2120327%20L39.057, 33.2120327%20Z%20M30.7575, 39.0845239%20C30.7125, 43.7130736%2034.407, 47.5037742%2039.0105, 47.5475537%20C43.6095, 47.5928429%2047.376, 43.8715856%2047.4195, 39.2415263%20C47.4645, 34.611467%2043.7685, 30.822276%2039.1665, 30.7784965%20C34.5675, 30.7332074%2030.801, 34.452955%2030.759, 39.0845239%20L30.7575, 39.0845239%20Z%20M39, 27.1734813%20C45.6285, 27.1734813%2051, 32.5810041%2051, 39.2505841%20C51, 45.9201641%2045.6285, 51.3276869%2039, 51.3276869%20C32.373, 51.3276869%2027, 45.9201641%2027, 39.2505841%20L27, 28.1773905%20C27, 27.6263727%2027.4515, 27.1734813%2027.9975, 27.1734813%20L39, 27.1734813%20Z%20M38.97, 42.3076008%20C37.293, 42.2925044%2035.9475, 40.9096761%2035.9625, 39.221901%20C35.9775, 37.5341259%2037.35, 36.1784711%2039.0285, 36.1950771%20C40.7055, 36.2101735%2042.0525, 37.5930018%2042.036, 39.2807769%20C42.0225, 40.968552%2040.6485, 42.3242068%2038.97, 42.3076008%20L38.97, 42.3076008%20Z'%20fill='%23FFFFFF'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
                        background-size: 100% 100%;
                    }
                }
            }
        }
    }
}