.hfh-hidden {
    display: none !important;
}

.video-metabox-sources {
    margin-top: 0.25rem;
    display: flex;
    >*+* {
        margin-left: 1rem;
    }
}

#hfh-theme-video-metabox-preview {
    max-width: 320px;
    margin-bottom: 1rem;
}

.hfh-theme-video-metabox-embed-wrapper {
    margin-top: 1rem;
}

#hfh-theme-video-metabox-embed {
    width: 100%;
}