$black: #000;
$fantasy-light: #fbf3f4;
$fantasy-plain: #f2d1d3;
$fantasy-dark: #d8757c;
$gray-dark: #767676;
$gold-drop: #f08100;
$havelock-blue: #58A5DB;
$thunderbird-red: #be1925;
$thunderbird-red-light: #e31826;
$white: #fff;

//---
$orange-red: #e74011;

//---

$link-color: $thunderbird-red;
$link-focus-color: $orange-red;
$navigation-link-color: $black;
$navigation-link-active-color: $thunderbird-red;
