@import "colors";
@import "fonts";
@import "utilities";
@import "navigation";
@import "footer";
html {
    font-family: $font-family;
}

body {
    margin: 0;
    font-size: 20px;
    line-height: 1.6;
    font-family: $font-family;
    font-weight: normal;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @media screen and (max-width: 740px) {
        font-size: 18px;
        line-height: 1.4444444444;
    }
}


/*
* Layout
*/

.site {
    position: relative;
}

.site-flex {
    display: block;
    @media screen and (min-width: 1023px) {
        display: flex;
    }
}

.site-flex,
.site-header,
.footer__content,
.pre-footer__content {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
    @media screen and (min-width: 1216px) {
        max-width: 1200px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.site-main {
    flex: 4;
}

.widget-area {
    margin-top: 16px;
    @media screen and (min-width: 1023px) {
        margin-top: 0;
        flex: 1;
        padding-left: 32px;
    }
}

.entry-header,
.entry-content,
.entry-contact {
    width: 100%;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
}


/*
* Paragraphs
*/

p {
    margin: 0 0 32px 0;
}


/*
* Links
*/

a {
    color: $link-color;
    text-decoration: none;
    transition: color 0.25s ease 0s;
    text-decoration: none;
    &:focus,
    &:hover {
        text-decoration: underline;
    }
}

.entry-content {
    p a {
        font-weight: bold;
    }
    overflow:auto;
}


/*
* Buttons
*/

.hfh-submit,
div.wpforms-container-full .wpforms-form button[type="submit"] {
    cursor: pointer;
    border: 0;
    position: relative;
    margin: 0;
    padding-top: 16px;
    padding-right: 70px;
    padding-bottom: 16px;
    padding-left: 24px;
    transition: background-color 0.25s ease 0s, color 0.25s ease 0s, padding-left 0.25s ease 0s, padding-right 0.25s ease 0s;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    font-weight: bold;
    text-align: left;
    appearance: none;
    background: #000;
    &::before {
        content: "";
        display: block;
        width: 32px;
        height: 14px;
        background-position: 0 0;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        margin-top: -7px;
        transition: transform 0.25s ease 0s, opacity 0.25s ease 0s;
        left: 24px;
        transform: translateX(-100%) translateZ(0);
        opacity: 0;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width='32px'%20height='14px'%20viewBox='0%200%2032%2014'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%20transform='translate(0.000000,%201.000000)'%20fill='none'%20fill-rule='evenodd'%20stroke='%23FFFFFF'%20stroke-width='2'%3E%3Cline%20x1='30'%20y1='6'%20x2='-1.19015908e-13'%20y2='6'%3E%3C/line%3E%3Cpolyline%20points='24.3333333%200%2030%206%2024.3333333%2012'%3E%3C/polyline%3E%3C/g%3E%3C/svg%3E");
    }
    &::after {
        content: "";
        display: block;
        width: 32px;
        height: 14px;
        background-position: 0 0;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        margin-top: -7px;
        transition: transform 0.25s ease 0s, opacity 0.25s ease 0s;
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        font-weight: bold;
        text-align: left;
        cursor: pointer;
        right: 24px;
        transform: translateX(0) translateZ(0);
        opacity: 1;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width='32px'%20height='14px'%20viewBox='0%200%2032%2014'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%20transform='translate(0.000000,%201.000000)'%20fill='none'%20fill-rule='evenodd'%20stroke='%23E31826'%20stroke-width='2'%3E%3Cline%20x1='30'%20y1='6'%20x2='-1.19015908e-13'%20y2='6'%3E%3C/line%3E%3Cpolyline%20points='24.3333333%200%2030%206%2024.3333333%2012'%3E%3C/polyline%3E%3C/g%3E%3C/svg%3E");
    }
    &:hover,
    &:focus {
        border: 0;
        padding-left: 70px;
        padding-right: 24px;
        color: #fff;
        background: $thunderbird-red-light;
        text-decoration: none;
        &::before {
            transform: translateX(0) translateZ(0);
            opacity: 1;
        }
        &::after {
            transform: translateX(100%) translateZ(0);
            opacity: 0;
        }
    }
}


/*
* Headings
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 26px 0;
    font-weight: normal;
    font-family: "Univers LT 45 Light", Helvetica, sans-serif;
    @media screen and (min-width: 740px) {
        margin: 0 0 32px 0;
    }
}

h1 {
    font-size: 24px;
    line-height: 1.3333333333;
    @media screen and (min-width: 740px) {
        font-size: 48px;
        line-height: 1.1666666667;
    }
}

h2 {
    font-size: 24px;
    line-height: 1.3333333333;
    @media screen and (min-width: 740px) {
        font-size: 32px;
        line-height: 1.25;
    }
}

h3 {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 24px;
    border-bottom: 2px solid currentColor;
    padding-bottom: 1px;
    font-weight: bold;
    text-transform: uppercase;
    color: $thunderbird-red;
    font-size: 12px;
    line-height: 1.6666666667;
    @media screen and (min-width: 740px) {
        font-size: 16px;
        line-height: 1.5;
    }
}

h4 {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 1.5714285714;
    @media screen and (min-width: 740px) {
        font-size: 16px;
        line-height: 1.5;
    }
}

h5 {
    margin-bottom: 24px;
    font-size: 12px;
    line-height: 1.6666666667;
    @media screen and (min-width: 740px) {
        font-size: 14px;
        line-height: 1.7142857143;
    }
}

h6 {
    margin-bottom: 24px;
    font-size: 12px;
    line-height: 1.6666666667;
    font-weight: bold;
    @media screen and (min-width: 740px) {
        line-height: 2;
    }
}


/*	
* Lists
*/

ol {
    li {
        &::marker {
            color: $thunderbird-red;
            font-size: 12px;
            font-weight: bold;
        }
    }
}

ul {
    li {
        &::marker {
            font-size: 12px;
            color: $thunderbird-red;
        }
    }
}

.site-main {
    ol {
        margin: 0 0 32px 0;
        padding-left: 14px;
        li {
            margin-bottom: 16px;
            padding-left: 8px;
        }
    }
    ul {
        margin: 0 0 32px 0;
        padding-left: 16px;
        li {
            margin-bottom: 16px;
            padding-left: 5px;
        }
    }
}

.widget-area {
    ol,
    ul {
        padding-left: 8px;
        margin: 0;
    }
}


/*
* Quotes
*/

blockquote,
blockquote p {
    margin: 26px 0;
    font-size: 24px;
    line-height: 1.3333333333;
    font-weight: normal;
    @media screen and (min-width: 740px) {
        margin: 32px 0;
        font-size: 32px;
        line-height: 1.25;
    }
}

blockquote {
    border-left: 2px solid $fantasy-plain;
    padding-left: 1em;
}


/*
* Figures
*/

.wp-block-image figcaption {
    margin: 0;
    padding-top: 12px;
    font-size: 16px;
    line-height: 1.5;
    font-style: italic;
}


/*
* Logo
*/

.custom-logo {
    width: 70px;
    height: auto;
}


/*
* Header
*/

.site-header {
    padding-top: 35px;
    margin-bottom: 37px;
    #site-search {
        display: none;
        &.site-search--active {
            @media screen and (min-width: 37.5em) {
                display: block;
                animation: fadeInFromNone 0.5s ease-in-out;
                @keyframes fadeInFromNone {
                    0% {
                        display: none;
                        opacity: 0;
                    }
                    1% {
                        display: block;
                        opacity: 0;
                    }
                    100% {
                        display: block;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 37.5em) {
    .site-header-wrapper {
        display: flex;
        justify-content: space-between;
    }
}

.site-branding {
    margin-right: 80px;
}

.site-title {
    font-size: 24px;
    margin-bottom: 0;
    @media screen and (min-width: 37.5em) {
        margin-bottom: 4px;
        font-size: 32px;
    }
}

.site-description {
    font-size: 14px;
    margin-bottom: 0;
    @media screen and (min-width: 37.5em) {
        font-size: 16px;
        margin-bottom: 30px;
    }
}


/*
* Post
*/

.single-post,
.page-template-default {
    .post-thumbnail+.entry-contact {
        margin-top: -117px;
        margin-bottom: 65px;
        &:before {
            content: "";
            display: block;
            background-color: $white;
            position: absolute;
            top: -27px;
            left: -32px;
            right: -32px;
            bottom: 0;
        }
    }
    .entry-header {
        .entry-meta {
            margin-bottom: 10px;
            @media screen and (min-width: 37.5em) {
                margin-bottom: 24px;
                display: flex;
            }
            .cat-links {
                display: inline-block;
                vertical-align: top;
                padding-bottom: 1px;
                font-size: 12px;
                line-height: 1.5;
                font-weight: bold;
                text-transform: uppercase;
                color: $link-color;
                @media screen and (min-width: 37.5em) {
                    font-size: 16px;
                }
            }
            .posted-on {
                margin-left: auto;
                white-space: nowrap;
                @media screen and (min-width: 37.5em) {
                    padding-left: 16px;
                }
                .entry-date {
                    font-size: 16px;
                    line-height: 1.625;
                }
            }
        }
    }
    .post-thumbnail {
        position: relative;
        margin-bottom: 90px;
        img {
            display: block;
            margin: 0 auto;
        }
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 100%;
            pointer-events: none;
            z-index: 2;
            width: 32px;
            height: 92px;
            background: url("../images/trame_left_bottom_mobile.png") no-repeat 0 0;
            background-size: 100% 100%;
            margin-right: -16px;
            @media screen and (min-width: 1025px) {
                width: 1640px;
                height: 188px;
                background: url("../images/trame_left_bottom.png") no-repeat 0 0;
                background-size: 100% 100%;
                margin-right: -202px;
            }
        }
    }
}


/*
* Page
*/

.page-template-default {
    .post-thumbnail {
        position: relative;
        margin-bottom: 0;
        @media screen and(min-width: 37.5em) {
            margin-bottom: 90px;
        }
    }
}


/*
* Contact
*/

.entry-contact {
    position: relative;
    z-index: 3;
    .entry-contact__title {
        position: relative;
        padding-bottom: 1px;
        font-size: 16px;
        line-height: 1.5;
        font-weight: bold;
        text-transform: uppercase;
        color: $thunderbird-red;
    }
    .entry-contact__content {
        position: relative;
        display: flex;
        align-items: flex-start;
        padding-top: 20px;
        border-top: 2px solid $fantasy-plain;
        .entry-contact__image {
            height: 78px;
            width: 78px;
            a {
                display: block;
                width: 100%;
                height: 100%;
                overflow: hidden;
                border-radius: 50%;
                border: 2px solid $link-color;
                padding: 2px;
                background: $white;
            }
            img {
                border-radius: 50%;
                height: auto;
                max-width: 100%;
            }
        }
        .entry-contact__author {
            margin-top: 2px;
            margin-left: 20px;
            font-style: normal;
            .entry-contact__name {
                font-weight: bold;
            }
        }
    }
}


/*
* Teasers
*/

.site-teasers {
    display: flex;
    flex-flow: row wrap;
    margin-top: -16px;
    .teaser-row {
        width: 100%;
        .teaser {
            height: 100%;
            padding: 15px 0 16px 0;
            @media screen and (min-width: 740px) {
                width: 100%;
                padding-left: 8px;
                padding-right: 8px;
                margin-left: -8px;
                margin-right: -8px;
            }
        }
        @media screen and (min-width: 860px) {
            width: 50%;
        }
        @media screen and (min-width: 1023px) {
            width: 50%;
        }
    }
}

.post-teaser {
    height: 100%;
    border: 2px solid $fantasy-plain;
    .post-teaser__link {
        height: 100%;
        display: flex;
        flex-direction: column;
        &:hover,
        &:focus {
            .post-teaser__text {
                background-color: $thunderbird-red;
                color: $white;
            }
            .post-teaser__arrow {
                color: $white;
            }
        }
    }
    .post-teaser__image {
        position: relative;
        padding-bottom: 50%;
        overflow: hidden;
        background-color: $fantasy-light;
        img {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
        }
    }
    .post-teaser__text {
        flex: 1 0;
        display: flex;
        flex-direction: column;
        padding: 20px 22px 32px 22px;
        color: $black;
        background-color: $white;
        .post-teaser__title {
            font-size: 32px;
            line-height: 1.25;
        }
        .post-teaser__excerpt {
            font-size: 20px;
            line-height: 1.4;
            p:last-child {
                margin-bottom: 0;
            }
        }
        .post-teaser__arrow {
            margin-top: 20px;
            flex: 1 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            color: $thunderbird-red;
        }
        @media screen and (max-width: 740px) {
            .post-teaser__title {
                font-size: 24px;
                line-height: 1.3333333333;
            }
            .post-teaser__excerpt {
                font-size: 18px;
                line-height: 1.4444444444;
            }
        }
    }
}


/*
* Search
*/

.search-form,
.wp-block-search {
    margin-bottom: 72px;
    padding: 24px 24px 24px 40px;
    background: $fantasy-light;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search-submit,
.wp-block-search .wp-block-search__button {
    margin: 0;
    border: none;
    padding-right: 55px;
    padding-left: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: $black;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width='22px'%20height='22px'%20viewBox='0%200%2022%2022'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%20stroke='none'%20stroke-width='1'%20fill='none'%20fill-rule='evenodd'%20transform='translate(1,%201)'%3E%3Ccircle%20stroke='%23E31826'%20stroke-width='2'%20cx='7.5'%20cy='7.5'%20r='7.5'%3E%3C/circle%3E%3Cpolygon%20fill='%23E31826'%20transform='translate(16,%2016)%20rotate(-45.120000)%20translate(-16,%20-16)%20'%20points='15.0298237%2011.0163243%2017%2011%2016.9701763%2020.9836757%2015%2021'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) 50%;
    background-size: 22px 22px;
    transition: background-color 0.25s ease 0s, color 0.25s ease 0s, padding-left 0.25s ease 0s, padding-right 0.25s ease 0s;
    font-size: 16px;
    line-height: 24px;
    color: $white;
    font-weight: bold;
    text-align: left;
    appearance: none;
    cursor: pointer;
    text-decoration: none;
    &:focus,
    &:hover {
        outline: none;
        background-color: $thunderbird-red;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width='22px'%20height='22px'%20viewBox='0%200%2022%2022'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%20stroke='none'%20stroke-width='1'%20fill='none'%20fill-rule='evenodd'%20transform='translate(1,%201)'%3E%3Ccircle%20stroke='%23FFFFFF'%20stroke-width='2'%20cx='7.5'%20cy='7.5'%20r='7.5'%3E%3C/circle%3E%3Cpolygon%20fill='%23FFFFFF'%20transform='translate(16,%2016)%20rotate(-45.120000)%20translate(-16,%20-16)%20'%20points='15.0298237%2011.0163243%2017%2011%2016.9701763%2020.9836757%2015%2021'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
    }
}

.search-field,
.wp-block-search .wp-block-search__input {
    width: 100%;
    padding: 14px 20px;
    border: 2px solid $fantasy-dark;
    border-radius: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    background: $white;
    outline: 0;
    appearance: none;
    &:focus {
        border-color: $thunderbird-red;
    }
    &::placeholder {
        color: $thunderbird-red;
    }
}

.search-form label,
.wp-block-search .wp-block-search__label {
    color: $thunderbird-red;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
    line-height: 1.7142857143;
    margin-right: 40px;
    width: auto;
    white-space: nowrap;
}

.wp-block-search .wp-block-search__inside-wrapper {
    flex: 1;
    display: flex;
    width: 100%;
}

@media screen and (max-width: 37.5em) {
    .search-form,
    .wp-block-search {
        padding: 0;
        margin: 12px 0;
    }
    .search-form label,
    .wp-block-search .wp-block-search__label {
        @include sr-only;
    }
    .search-submit,
    .wp-block-search .wp-block-search__button {
        width: 56px;
        padding: 0;
        height: 56px;
        text-indent: 9999px;
    }
}

.widget_search {
    .search-form,
    .wp-block-search {
        padding: 0;
        margin: 12px 0;
    }
    .search-form label,
    .wp-block-search .wp-block-search__label {
        @include sr-only;
    }
    .search-submit,
    .wp-block-search .wp-block-search__button {
        width: 56px;
        padding: 0;
        height: 56px;
        text-indent: 9999px;
    }
}


/*
* Widgets
*/

.widget {
    border-top: 2px solid $fantasy-plain;
    margin-bottom: 0;
    padding: 28px 8px;
    h2 {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    *:last-child {
        margin-bottom: 0;
    }
    font-size: 0.875rem;
    line-height: 1.6;
}

pre {
    font-family: monospace, sans-serif;
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    background: none;
}


/*
* Archive Post Navigation
*/

.posts-navigation {
    .nav-links {
        font-size: 0.8em;
        justify-content: space-between;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .nav-previous,
        .nav-next {
            flex: unset;
        }
        .nav-next a::after,
        .nav-previous a::before {
            content: "";
            background: url("data:image/svg+xml;charset=utf8,%3Csvg%20width='32px'%20height='14px'%20viewBox='0%200%2032%2014'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%20transform='translate(0.000000,%201.000000)'%20fill='none'%20fill-rule='evenodd'%20stroke='%23be1925'%20stroke-width='2'%3E%3Cline%20x1='30'%20y1='6'%20x2='-1.19015908e-13'%20y2='6'%3E%3C/line%3E%3Cpolyline%20points='24.3333333%200%2030%206%2024.3333333%2012'%3E%3C/polyline%3E%3C/g%3E%3C/svg%3E");
            background-size: contain;
            background-repeat: no-repeat;
            display: block;
            width: 16px;
            height: 7px;
        }
        .nav-next:hover ::after,
        .nav-previous:hover ::before {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width='32px'%20height='14px'%20viewBox='0%200%2032%2014'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%20transform='translate(0.000000,%201.000000)'%20fill='none'%20fill-rule='evenodd'%20stroke='%23E31826'%20stroke-width='2'%3E%3Cline%20x1='30'%20y1='6'%20x2='-1.19015908e-13'%20y2='6'%3E%3C/line%3E%3Cpolyline%20points='24.3333333%200%2030%206%2024.3333333%2012'%3E%3C/polyline%3E%3C/g%3E%3C/svg%3E");
        }
        .nav-next {
            margin-left: auto;
            a {
                @media screen and (min-width: 740px) {
                    justify-content: flex-end;
                }
                &::after {
                    margin-left: 8px;
                }
            }
        }
        .nav-previous a {
            @media screen and (min-width: 740px) {
                justify-content: flex-start;
            }
            &::before {
                transform: scaleX(-1);
                margin-right: 8px;
            }
        }
    }
}


/*
* Single Post Navigation
*/

.single-posts-navigation {
    padding-top: 1em;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 2em;
    border-top: 2px solid $fantasy-plain;
    display: grid;
    grid-gap: 1em;
    @media screen and (min-width: 425px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: 740px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.single-posts-navigation__link {
    font-size: 0.8em;
    text-align: center;
    @media screen and (min-width: 740px) {
        text-align: left;
    }
    .arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (min-width: 740px) {
            justify-content: flex-end;
        }
        &.arrow-next {
            margin-left: auto;
        }
        &.arrow--prev::before,
        &.arrow--next::after {
            content: "";
            background: url("data:image/svg+xml;charset=utf8,%3Csvg%20width='32px'%20height='14px'%20viewBox='0%200%2032%2014'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%20transform='translate(0.000000,%201.000000)'%20fill='none'%20fill-rule='evenodd'%20stroke='%23be1925'%20stroke-width='2'%3E%3Cline%20x1='30'%20y1='6'%20x2='-1.19015908e-13'%20y2='6'%3E%3C/line%3E%3Cpolyline%20points='24.3333333%200%2030%206%2024.3333333%2012'%3E%3C/polyline%3E%3C/g%3E%3C/svg%3E");
            background-size: contain;
            background-repeat: no-repeat;
            display: block;
            width: 16px;
            height: 7px;
        }
        &.arrow--next {
            &::after {
                margin-left: 8px;
            }
        }
        &.arrow--prev {
            @media screen and (min-width: 740px) {
                justify-content: flex-start;
            }
            &::before {
                margin-right: 8px;
                transform: scaleX(-1);
            }
        }
    }
    &:hover .arrow::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width='32px'%20height='14px'%20viewBox='0%200%2032%2014'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%20transform='translate(0.000000,%201.000000)'%20fill='none'%20fill-rule='evenodd'%20stroke='%23E31826'%20stroke-width='2'%3E%3Cline%20x1='30'%20y1='6'%20x2='-1.19015908e-13'%20y2='6'%3E%3C/line%3E%3Cpolyline%20points='24.3333333%200%2030%206%2024.3333333%2012'%3E%3C/polyline%3E%3C/g%3E%3C/svg%3E");
    }
    &.next-post {
        @media screen and (min-width: 740px) {
            grid-column-start: 3;
            text-align: right;
        }
    }
}


/*
* Related Posts
*/

.hfh-related-posts {
    padding-top: 1em;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 2em;
    border-top: 2px solid $fantasy-plain;
}

.hfh-related-posts__label {
    margin-bottom: 1em;
    font-size: 1rem;
}

ul.hfh-related-posts__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-gap: 1em;
    @media screen and (min-width: 481px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: 740px) {
        grid-template-columns: repeat(3, 1fr);
    }
    li {
        padding: 0;
        margin: 0;
    }
}

.hfh-related-posts__link {
    flex: 1 0;
    font-size: 0.8em;
}