@use "./mixins";

#page {
  overflow: hidden;
}

#main {
  margin-top: 0.75rem;
  padding-bottom: 4.5rem;

  @media screen and (min-width: 64rem) {
    margin-top: 5rem;

    &.hfh-single {
      margin-top: 5.875rem;
    }
  }
}

/*
* Noscript styles
*/
.no-js-content {
  padding: 1rem;
}

/*
* Keep js content hidden until components have mounted
*/
.js-content {
  visibility: hidden;
}

/*
* Header logo
*/
.hfh-theme-logo-desktop,
.hfh-theme-logo-mobile {
  display: flex;
  column-gap: 1.75rem;
}

.hfh-theme-logo-mobile {
  font-size: 1.25rem;

  @media screen and (min-width: 46.25rem) {
    font-size: 1.5rem;
  }
}

.hfh-theme-logo-desktop {
  font-size: 2rem;
}

/*
* Content
*/
.hfh-theme-content {
  display: grid;
  grid-template-columns: 1fr fit-content(var(--w-content)) 1fr;
  justify-content: center;
  margin-inline: 1rem;
  > * {
    grid-column-start: 2;
  }
}

.hfh-content {
  hyphens: auto;
  overflow-wrap: break-word;

  .wp-block-embed.is-type-video {
    .wp-block-embed__wrapper:before {
      content: "";
      display: block;
      padding-top: 56.25%;
    }

    .wp-block-embed__wrapper {
      position: relative;
      width: 100%;

      iframe {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }
  }

  .wp-block-table {
    td,
    th {
      border: none;
    }
  }

  .wp-block-file:not(.wp-element-button) {
    font-size: inherit;
  }
}

.hfh-article__date {
  margin-left: auto;
  text-align: right;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-bottom: 2rem;
}

.hfh-article__image {
  @include mixins.hfh-theme-content-container-width;
  margin-bottom: 4rem;
}

.hfh-article__image + .hfh-article__contact {
  position: relative;
  z-index: 1;
  margin-top: -7.3125rem;
  margin-bottom: 4rem;
  &:before {
    content: "";
    display: block;
    background-color: var(--c-white);
    position: absolute;
    top: -1.6875rem;
    left: -2rem;
    right: -2rem;
    bottom: 0;
    z-index: -1;
  }
}

/*
* Teasers
*/
.hfh-teaser {
  height: 100%;
}

/*
* Pagination
*/
#hfh-theme-pagination {
  margin-top: 4.25rem;
}

/*
* Search
*/
.hfh-search-result-count {
  margin-bottom: 0.75rem;

  @media screen and (min-width: 46.25rem) {
    margin-bottom: 2.5rem;
  }
}

.hfh-search__results {
  li {
    margin-top: -0.125rem;
    &:first-child {
      margin-top: 0;
    }
    .hfh-search-result:hover {
      position: relative;
      z-index: 1;
    }
  }
}

.hfh-search__no-results {
  text-align: center;
}

/*
* Single post elements
*/
.hfh-single-navigation {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  margin-top: 7.5rem;

  .hfh-single-navigation__teaser {
    display: flex;
    flex-direction: column;
    > a {
      flex-grow: 1;
    }

    &.hfh-single-navigation__teaser--previous {
      .hfh-teaser__arrow {
        transform: scaleX(-1);
      }
    }
  }

  @media screen and (min-width: 46.25rem) {
    grid-template-columns: repeat(3, 1fr);

    .hfh-single-navigation__teaser--next {
      grid-column-start: 3;
    }
  }
}

.hfh-related-posts {
  margin-top: 7.5rem;
  .hfh-related-posts__teasers {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    row-gap: 2rem;

    @media screen and (min-width: 46.25rem) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 53.75rem) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

/*
* WP admin bar
*/
.admin-bar {
  .hfh-header__mobile {
    .hfh-header__menu {
      margin-top: 46px;

      @media screen and (min-width: 782px) {
        margin-top: 32px;
      }
    }
  }
}

/*
* 404 Page
*/
.hfh-theme-404 {
  .hfh-search-bar {
    margin-bottom: 1.625rem;

    @media screen and (min-width: 46.25rem) {
      margin-bottom: 2rem;
    }
  }
}
